* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
}

.form-container {
    max-width: 435px;
    margin: 0 auto;
}

@import 'base/variables';


@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/portfolio';
@import 'blocks/developer';
@import 'blocks/feedback';