* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: 0 auto;

    @media screen and (max-width:1024px) {
        max-width: 760px;
    }

    @media screen and (max-width:790px) {
        max-width: 576px;
    }

    @media screen and (max-width:600px) {
        max-width: 90%;
    }
}

.form-container {
    max-width: 435px;
    margin: 0 auto;

    @media screen and (max-width:480px) {
        max-width: 90%;
    }
}

@import 'base/variables';


@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/portfolio';
@import 'blocks/developer';
@import 'blocks/feedback';