.developer {
    padding: 80px 0 120px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__photo {
        width: 360px;
        height: 440px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 20px;
    }

    &__about {
        max-width: 454px;
        padding: 26px 0;

        &-hello {
            font-size: 24px;
            letter-spacing: -0.02em;
            color: #211B12;
            margin-bottom: 4px;
        }

        &-title {
            font-weight: 700;
            font-size: 32px;
            color: $main-color;
            margin-bottom: 16px;
            letter-spacing: -0.03em;
        }

        &-text {
            margin: 16px 0;
            line-height: 150%;
            color: #211B12;
        }

        &-motto {
            font-size: 24px;
            color: $main-color;

        }

        &-signature {
            margin-top: 16px;
            width: 200px;
            height: 74.63px;
        }

    }

    &__skills {
        &-title {
            font-weight: 700;
            font-size: 24px;
            letter-spacing: -0.02em;
            color: #211B12;
            margin-bottom: 13px;
        }
    }
}