.header {
    margin-bottom: 78px;

    @media screen and (max-width:790px) {
        margin-bottom: 38px;
    }


    &__wrapper {
        display: flex;
        align-items: center;

        @media screen and (max-width:600px) {
            flex-direction: column;
        }
    }

    &__photo {
        width: 212px;
        margin-right: 27px;

        @media screen and (max-width:790px) {
            width: 150px;
        }

        @media screen and (max-width:600px) {
            margin-right: 0;
        }
    }

    &__content {
        max-width: 510px;

        @media screen and (max-width:600px) {
            text-align: center;
        }


        &-title {
            font-weight: 700;
            font-size: 48px;
            letter-spacing: -0.03em;
            color: #211B12;
            margin-bottom: 8px;

            @media screen and (max-width:790px) {
                font-size: 30px;
            }
        }

        &-descr {
            font-weight: 700;
            font-size: 24px;
            line-height: 135%;
            letter-spacing: -0.02em;
            margin-bottom: 24px;

            @media screen and (max-width:790px) {
                font-size: 18px;
            }

            &_color {
                display: block;
                color: $main-color;
            }
        }

        &-links {
            display: flex;

            @media screen and (max-width:600px) {
                flex-direction: column;
            }
        }

    }
}

.social {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 55px 0 0;
    align-items: center;

    @media screen and (max-width:790px) {
        margin: 0 15px 0 0;
    }

    &__item {
        width: 40px;
        height: 40px;
    }
}


.cv-download {

    padding: 7px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-bottom: 2px solid $main-color;
    width: 179px;
    height: 36px;
    font-size: 15px;

    &__icon {
        margin-right: 10px;
    }

    &__text {
        font-weight: 700;
        color: #211B12;
    }
}